.menu a {
  position: relative;
  color: #1de5f8;
  text-decoration: none;
  padding-bottom: 3px;
  font-weight: 600;
  transition: color 0.17s;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #1de5f8 30%, #00fff8 80%);
  border-radius: 7px;
  opacity: 0;
  transform: scaleX(0.2);
  transition: opacity 0.22s, transform 0.32s cubic-bezier(.71,1.7,.68,.53);
}
.menu a:hover {
  color: #00fff8;
}
.menu a:hover::after,
.menu a:focus::after {
  opacity: 1;
  transform: scaleX(1);
}
